@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("https://raw.githack.com/jdan/98.css/main/fonts/converted/ms_sans_serif.woff") format("woff");
    src: url("https://raw.githack.com/jdan/98.css/main/fonts/converted/ms_sans_serif.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("https://raw.githack.com/jdan/98.css/main/fonts/converted/ms_sans_serif_bold.woff") format("woff");
    src: url("https://raw.githack.com/jdan/98.css/main/fonts/converted/ms_sans_serif_bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  
  *, button, input {
      font-family: "Pixelated MS Sans Serif",Arial;
      font-size: 11px;
  }
  
  .ui_window__head__title {
    transform: translate(0,2px);
    font-weight: bold;
  }
  
  .ui_window {
      box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;
      background: silver;
      padding: 3;
      border: none;
  }
  
  .ui_window__head {
    height: 20px;
  }
  
  .ui_window__head button {
      padding: 0;
      display: block;
      min-width: 16px;
      min-height: 15px;
    
      background: silver;
      box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
      border: none;
      transform: translate(0,1px);
  }
  
  .ui_window__head__close {
      margin-left: 2px;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E") !important;
      background-repeat: no-repeat !important;
      background-position: top 4px left 4px !important;
  }
  
  .ui_window__head__maximize {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0H0v9h9V0zM8 2H1v6h7V2z' fill='%23000'/%3E%3C/svg%3E") !important;
      background-repeat: no-repeat !important;
      background-position: top 3px left 3px !important;
      margin-left: 0;
  }
  
  .ui_window__head__minimize {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 0h6v2H0z'/%3E%3C/svg%3E") !important;
      background-repeat: no-repeat !important;
      background-position: bottom 3px left 4px !important;
  }
  
  .ui_window__head__close::before, .ui_window__head__maximize::before, .ui_window__head__minimize::before {
    display: none;
  }